{% extends 'funk/Base.html' %}

{% block form_title %}
    جستجوی شعبه
{% endblock %}

{% block form %}
    <form action="./" method="get" class="large ui form" style="direction: ltr">

        <div class="ui action left icon input fluid">
            <i class="search icon"></i>
            <input placeholder="نام شعبه" type="text" name="branch_name">
            <button type="submit" class="ui teal button">جستجو</button>
        </div>
    </form>
{% endblock %}

{% block results %}
    <div class="ui stakcable two cards">



    {% for item in result %}
        <div class="ui card">

            <div class="content">
                <div>نام: {{ item.name }}</div>
                <div>آدرس: {{ item.address }}</div>
                <div>مبلغ موجودی: {{ item.total_available_money }}</div>
            </div>
         <div class="extra content">
      <a href="{% url 'funk:branch_delete' item.id   %}" class="left floated like">
        <i class="trash icon"></i>
        حذف
      </a>
                <a href="{% url 'funk:branch_edit' item.id %}" class="right floated star">
        <i class="star icon"></i>
        ویرایش
      </a>
            </div>
        </div>
    {% endfor %}
      </div>
{% endblock results %}