{% extends 'funk/Base.html' %}

{% block form_title %}
  ویزایش شعبه
{% endblock %}

{% block form %}
    <form action="./" method="post" class="large ui form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="ui fluid    teal button">ثبت تغیرات</button>
    </form>
{% endblock %}

