{% extends 'funk/Base.html' %}

{% block form_title %}
    جستجوی کارمند شعبه
{% endblock %}

{% block form %}
    <form action="./" method="get" class="large ui form" style="direction: ltr">

        <div class="ui action left icon input fluid">
            <i class="search icon"></i>
            <input placeholder="نام" type="text" name="name">
            <input placeholder="کدملی" type="text" name="nid">
            <button type="submit" class="ui teal button">جستجو</button>
        </div>
    </form>
{% endblock %}

{% block results %}
    <div class="ui stakcable two cards">



    {% for item in result %}
        <div class="ui card">

            <div class="content">
                <div>نام: {{ item.name }}</div>
                <div>نام خانوادگی: {{ item.family }}</div>
                <div>کدملی: {{ item.national_id }}</div>
                <div> {{ item.branch }}</div>
            </div>
         <div class="extra content">
<a href="{% url 'funk:employee_delete' item.id   %}" class="left floated like">
        <i class="trash icon"></i>
        حذف
      </a>
                <a href="{% url 'funk:employee_edit' item.id %}" class="right floated star">
        <i class="star icon"></i>
        ویرایش
      </a>
            </div>
        </div>
    {% endfor %}
      </div>
{% endblock results %}