{% extends 'funk/Base.html' %}

{% block form_title %}
    آیا مطمینید می‌خواهید حساب انتخابی را مسدود/باز کنید؟
{% endblock %}

{% block form %}
    <form class="large ui form" action="./" method="post">
        {% csrf_token %}
         <input type="submit" class="ui fluid large teal submit button" value="بله  بکن">
        <div class="ui horizontal divider"></div>
        <a href="{% url  'funk:dash' %}" class="ui fluid large red button">نه اشتباه کردم</a>
    </form>
{% endblock  %}