{% extends 'funk/Base.html' %}
{# Don't forget that one ! #}
{% block form_title %}
    ثبت حساب جدید
{% endblock %}
{% block form %}
<div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ form.media }}
        <input type="submit" value="ثبت مشتری" class="ui fluid submit button teal"/>
    </form>
</div>
{% endblock %}

