{% extends 'funk/Base.html' %}

{% block form_title %}
    جستجوی حساب و مسدود کردن/فعال کردن آن
{% endblock %}

{% block form %}
    <form action="./" method="get" class="large ui form" style="direction: rtl">
        {{ form.as_p }}
        <div class="field"><input class="ui textbox" type="text" placeholder="شماره حساب", name="id"></div>
        {{ form.media }}
        <div class="field"> <div class="ui toggle big checkbox">
              <input type="checkbox"  name="banned">
              <label>حساب های مسدود را هم نشان دهم؟</label>
        </div></div>

        <button type="submit" class="ui teal fluid button">جستجو</button>
    </form>
{% endblock %}

{% block results %}
    <div class="ui stakcable two cards">



    {% for item in result %}
        <div class="ui card">

            <div class="content">
                <div class="">شماره حساب: {{ item.id }}</div>
                <div>شماره مشتری: {{ item.customer.id }}</div>
                <div>نام صاحب حساب: {{ item.customer.first_name }}</div>
                <div>نام خانوادگی صاحب حساب : {{ item.customer.last_name }}</div>
                <div>نام کاربری صاحب حساب: {{ item.customer.username }}</div>

            </div>
         <div class="extra content">
            {% if not item.activation_status %}
                <a href="{% url 'funk:account_ban' item.id 1 %}" class="right floated star">
        <i class="minus circle right red icon"></i>
        مسدود سازی
      </a>
                <a href="{% url 'funk:account_ban' item.id 0 %}" class="left floated star">
        <i class="angle double right green icon"></i>
                باز سازی
      </a>
             {% endif %}
            </div>
        </div>
    {% endfor %}
      </div>
{% endblock results %}