{% extends 'funk/Base.html' %}

{% block form_title %}
    ثبت مشتری
{% endblock %}

{% block form %}
    <form class="large ui form" action="" method="post">
        {% csrf_token %}
        {% for item in form %}

                <div>{{ item.errors }}</div>
                <div>{{ item.label }}</div>
                <div>{{ item }}</div>

        {% endfor %}
    <input type="submit" class="ui fluid large teal submit button" value="ثبت مشتری">
    </form>
{% endblock %}