{% extends 'funk/Base.html' %}

{% block form_title %}
    جستجوی مشتریان
{% endblock %}

{% block form %}
    <form action="./" method="get" class="large ui form" style="direction: rtl">
        {{ form.as_p }}
        <button type="submit" class="ui teal fluid button">جستجو</button>
    </form>
{% endblock %}

{% block results %}
    <div class="ui stakcable two cards">



    {% for item in result %}
        <div class="ui card">

            <div class="content">
                <div class="">شماره کاربری: {{ item.id }}</div>
                <div>نام: {{ item.first_name }}</div>
                <div>نام خانوادگی: {{ item.last_name }}</div>
                <div>نام کاربری: {{ item.username }}</div>
                <div>وضعیت فعالیت:

                    {% if not item.activation_status %}
                        <i class="minus red circle icon"></i> فعال نشده
                    {% else %}
                        <span> <i class="check green circle icon"></i>فعال شده</span>
                    {% endif %}

                </div>
            </div>
         <div class="extra content">
            {% if not item.activation_status %}
                <a href="{% url 'funk:activate_customer' item.id %}" class="right floated star">
        <i class="angle double right green icon"></i>
        فعال سازی
      </a>
             {% endif %}
            </div>
        </div>
    {% endfor %}
      </div>
{% endblock results %}