 .rtl {
     text-align: right;
     direction: rtl;
     font-family: iran-sans;
 }
 
 .rtl * {
     text-align: right;
     direction: rtl;
     font-family: iran-sans;
 }
 
 .persian {
     font-family: iran-sans;
 }
 
 .big-title {
     font-size: 30;
 }
 
 .middle {
     margin: 0 auto;
 }