{% load staticfiles %}
{% load static %}
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>فابانک</title>

    <link rel="stylesheet" href="{% static 'semantic/semantic.min.css' %}">
    <script src="{% static 'semantic/semantic.min.js' %}"></script>
    <script src="{% static 'jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'select2.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'select2.min.css' %}">
    <style type="text/css">
        body {
            background-color: #FFFFFF;
        }

        .ui.menu .item img.logo {
            margin-right: 1.5em;
        }

        .main.container {
            margin-top: 7em;
        }

        .wireframe {
            margin-top: 2em;
        }

        .ui.footer.segment {
            margin: 5em 0em 0em;
            padding: 5em 0em;
        }
    </style>

</head>
<body>

<div class="ui fixed inverted menu" style="flex-direction: row-reverse">
    <div class="ui container">
        <a href="#" class="header item">
            <i class="logo users icon "></i>
            فابانک{{ user_info }}
        </a>
        <a href="/dash" class="item">خانه</a>
        <div class="ui simple dropdown item">
            امور مدیرکلی <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="{% url 'funk:branch_creation' %}">تعریف شعبه</a>
                <a class="item" href="{% url 'funk:branch_search' %}">ویرایش/حذف شعبه</a>
                <div class="divider"></div>
                <a class="item" href="{% url 'funk:branch_head_creation' %}">تعریف رئیس‌شعبه</a>
                <a href="{% url 'funk:branch_head_search' %}" class="item">ویرایش/حذف رئیس شعبه</a>
            </div>
        </div>

        <div class="ui simple dropdown item">
            امور مدیر شعبه <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="{% url 'funk:employee_creation' %}">تعریف کارمند شعبه</a>
                <a class="item" href="{% url 'funk:employee_search' %}">ویرایش/حذف کارمند شعبه</a>
                <div class="divider"></div>

                <a class="item" href="#">Link Item</a>
            </div>
        </div>
        <div class="ui simple dropdown item">
            امور مدیریتی داخل شعبه <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="{% url 'funk:cusomter_creation' %}">تعریف مشتری </a>
                <a class="item" href="{% url 'funk:search_customer' %}">فعال سازی مشتری</a>
                <div class="divider"></div>

                <a class="item" href="{% url 'funk:account_creation' %}">تعریف حساب جدید</a>
                <a class="item" href="{% url 'funk:account_ban_search' %}">مسدود/باز کردن حساب </a>
            </div>
        </div>
        <a href="/logout" class="item">خروج</a>
    </div>
</div>

<div class="ui main text container" style="direction: rtl">
    <h1 class="ui header">
        {% block form_title %}
        Semantic UI Fixed Template
        {% endblock form_title %}
    </h1>
{% block form %}
    <form action="" class="ui large form">

        <input type="text">><input type="text">><input type="text">><input
            type="text">><input type="text">

    </form>
{% endblock form %}

{% block results %}
{% endblock results %}
</div>


{#<div class="ui inverted vertical footer segment">#}
{#    <div class="ui center aligned container">#}
{#        تمام حقوق برای شرکت احسرول محفوظ است#}
{#        <i class="ui icon copyright"></i>#}
{##}
{#        <div class="ui horizontal inverted small divided link list">#}
{#            <a class="item" href="#">راهنما</a>#}
{#            <a class="item" href="#">قوانین</a>#}
{##}
{#        </div>#}
{#    </div>#}
{#</div>#}


</body>
</html>