{% load staticfiles %}
<html><head>
  <!-- Standard Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>ورود</title>
    <link rel="stylesheet" href="{% static 'jquery-3.1.1.min.js' %}">
    <link rel="stylesheet" href="{% static 'semantic/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'semantic/semantic.min.js    ' %}">

  <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
      input {
          direction: rtl;
      }
  </style>
</head>
<body>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <i class="circular users icon"></i>
      <div class="content">
            ورود به سامانه فابانک
      </div>
    </h2>
{#    <form class="ui large form">#}
{#      <div class="ui stacked segment">#}
{#        <div class="field">#}
{#          <div class="ui left icon input">#}
{#            <i class="user icon"></i>#}
{#            <input name="email" placeholder="E-mail address" type="text">#}
{#          </div>#}
{#        </div>#}
{#        <div class="field">#}
{#          <div class="ui left icon input">#}
{#            <i class="lock icon"></i>#}
{#            <input name="password" placeholder="Password" type="password">#}
{#          </div>#}
{#        </div>#}
{#        <div class="ui fluid large teal submit button">Login</div>#}
{#      </div>#}
{##}
{#      <div class="ui error message"></div>#}
{##}
{#    </form>#}
      <form action="" method="post" class="ui large form">
            {%  csrf_token %}
          {{ form.as_p }}
          <input type="submit" class="ui fluid large teal submit button" value="ورود">
      </form>
    <div class="ui message">
      اشتباه تایپ نکنید
    </div>
  </div>
</div>




</body></html>